<main class="site-content listing">
  
  <section class="listing-filter sticky-top">
      <div class="container">
          <div class="listing-filter-inner d-flex align-items-center justify-content-between">
              <div class="listing-filter-item position-relative">
                  <a href="javascript:void(0);" class="filter-name d-flex align-items-center justify-content-between">
                      <span>Categories</span>
                      <i class="ion ion-ios-add"></i>
                  </a>
                  <div class="filter-dropdown">
                      <ul class="d-flex flex-column">
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link selected" href="javascript:void(0);">Sweatshirts & Hoodies</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">T-shirts</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">Track Pants</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">Shorts</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">Polo T-shirts</a></li>
                      </ul>
                  </div>
              </div>
              <div class="listing-filter-item position-relative">
                  <a href="javascript:void(0);" class="filter-name d-flex align-items-center justify-content-between">
                      <span>Size</span>
                      <i class="ion ion-ios-add"></i>
                  </a>
                  <div class="filter-dropdown">
                      <ul class="d-flex flex-column">
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link selected" href="javascript:void(0);">S</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">M</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">L</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">XL</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">XXL</a></li>
                      </ul>
                  </div>
              </div>
              <div class="listing-filter-item position-relative">
                  <a href="javascript:void(0);" class="filter-name d-flex align-items-center justify-content-between">
                      <span>Price</span>
                      <i class="ion ion-ios-add"></i>
                  </a>
                  <div class="filter-dropdown">
                      <ul class="d-flex flex-column">
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link selected" href="javascript:void(0);">All</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">&#8377; <span>500-800</span></a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">&#8377; <span>800-1200</span></a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">&#8377; <span>1200-2000</span></a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">&#8377; <span>2000-2500</span></a></li>
                      </ul>
                  </div>
              </div>
              <div class="listing-filter-item position-relative">
                  <a href="javascript:void(0);" class="filter-name d-flex align-items-center justify-content-between">
                      <span>Colours</span>
                      <i class="ion ion-ios-add"></i>
                  </a>
                  <div class="filter-dropdown">
                      <ul class="d-flex flex-wrap">
                          <li class="filter-dropdown-item d-flex justify-content-center color-picker">
                              <a class="filter-dropdown-link d-flex align-items-center justify-content-center" href="javascript:void(0);">
                                  <span style="background-color: darkorange" class="color"></span>
                              </a>
                          </li>
                          <li class="filter-dropdown-item d-flex justify-content-center color-picker">
                              <a class="filter-dropdown-link d-flex align-items-center  justify-content-center selected" href="javascript:void(0);">
                                  <span style="background-color: darkslateblue" class="color"></span>
                              </a>
                          </li>
                          <li class="filter-dropdown-item d-flex justify-content-center color-picker">
                              <a class="filter-dropdown-link d-flex align-items-center justify-content-center" href="javascript:void(0);">
                                  <span style="background-color: deeppink" class="color"></span>
                              </a>
                          </li>
                          <li class="filter-dropdown-item d-flex justify-content-center color-picker">
                              <a class="filter-dropdown-link d-flex align-items-center justify-content-center" href="javascript:void(0);">
                                  <span style="background-color: deeppink" class="color"></span>
                              </a>
                          </li>
                          <li class="filter-dropdown-item d-flex justify-content-center color-picker">
                              <a class="filter-dropdown-link d-flex align-items-center justify-content-center" href="javascript:void(0);">
                                  <span style="background-color: deeppink" class="color"></span>
                              </a>
                          </li>
                          <li class="filter-dropdown-item d-flex justify-content-center color-picker">
                              <a class="filter-dropdown-link d-flex align-items-center  justify-content-center" href="javascript:void(0);">
                                  <span style="background-color: darkslateblue" class="color"></span>
                              </a>
                          </li>
                          <li class="filter-dropdown-item d-flex justify-content-center color-picker">
                              <a class="filter-dropdown-link d-flex align-items-center justify-content-center" href="javascript:void(0);">
                                  <span style="background-color: deeppink" class="color"></span>
                              </a>
                          </li>
                          <li class="filter-dropdown-item d-flex justify-content-center color-picker">
                              <a class="filter-dropdown-link d-flex align-items-center justify-content-center" href="javascript:void(0);">
                                  <span style="background-color: deeppink" class="color"></span>
                              </a>
                          </li>
                          <li class="filter-dropdown-item d-flex justify-content-center color-picker">
                              <a class="filter-dropdown-link d-flex align-items-center justify-content-center" href="javascript:void(0);">
                                  <span style="background-color: deeppink" class="color"></span>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="listing-filter-item position-relative">
                  <a href="javascript:void(0);" class="filter-name d-flex align-items-center justify-content-between">
                      <span>Fit</span>
                      <i class="ion ion-ios-add"></i>
                  </a>
                  <div class="filter-dropdown">
                      <ul class="d-flex flex-column">
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link selected" href="javascript:void(0);">All</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">Regular</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">Skinny Fit</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">Oversized</a></li>
                      </ul>
                  </div>
              </div>
              <div class="listing-filter-item position-relative">
                  <a href="javascript:void(0);" class="filter-name d-flex align-items-center justify-content-between">
                      <span>Sort By</span>
                      <i class="ion ion-ios-add"></i>
                  </a>
                  <div class="filter-dropdown">
                      <ul class="d-flex flex-column">
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link selected" href="javascript:void(0);">New</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">Price: Low to High</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">Price: High to Low</a></li>
                          <li class="filter-dropdown-item"><a class="filter-dropdown-link" href="javascript:void(0);">Featured</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <section class="listing-container">
        <div class="container">
            <div class="listing-container-inner d-flex flex-wrap">
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="..//..//assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate ">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">4000</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
                <div class="listing-product">
                    <div class="listing-product-image">
                        <img src="assets/images/bstprdct1.jpg" alt="">
                        <div class="listing-product-wishlist d-flex align-items-center justify-content-center">
    
                        </div>
                    </div>
                    <div class="listing-product-details">
                        <a routerLink="../products" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                        <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                    </div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </section>
    
    
