<footer class="footer position-relative">
  <div class="container">
      <div class="row justify-content-between d-none d-md-flex">
          <div class="col-auto">
              <h3 class="footer-title text-uppercase">Infinia</h3>
              <ul class="footer-link-wrapper d-flex flex-column">
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">About Us</a></li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Contact Us</a>
                  </li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Become An
                          Affiliate</a></li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Feedback</a></li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Track Order /
                          Return</a></li>
              </ul>
          </div>
          <div class="col-auto">
              <h3 class="footer-title text-uppercase">Policies</h3>
              <ul class="footer-link-wrapper d-flex flex-column">
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Terms &
                          Conditions</a></li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Privacy
                          Policy</a></li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Cancellation
                          Policy</a></li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Refund Policy</a>
                  </li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Cookies</a></li>
              </ul>
          </div>
          <div class="col-auto">
              <h3 class="footer-title text-uppercase">Men</h3>
              <ul class="footer-link-wrapper d-flex flex-column">
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Sweatshirts</a>
                  </li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Hoodies</a></li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">T-shirts</a></li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Joggers</a></li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Track Pants</a>
                  </li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Shorts</a></li>
              </ul>
          </div>
          <div class="col-auto">
              <h3 class="footer-title text-uppercase">Women</h3>
              <ul class="footer-link-wrapper d-flex flex-column">
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Sweatshirts</a>
                  </li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Hoodies</a></li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">T-shirts</a></li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Joggers</a></li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Track Pants</a>
                  </li>
                  <li class="footer-link-item"><a href="javascript:void(0);" class="footer-link">Shorts</a></li>
              </ul>
          </div>
      </div>
      <div class="footer-usp d-none d-md-block">
          <div class="row align-items-center justify-content-around">
              <div class="col-auto">
                  <div class="footer-usp-item d-flex align-items-center">
                      <div class="footer-usp-icon">
                          <img src="assets/images/icons/usp1.png" alt="" width="32">
                      </div>
                      <div class="footer-usp-text">
                          <h3 class="footer-usp-title">FREE DELIVERY</h3>
                          <span>Free shipping worldwide</span>
                      </div>
                  </div>
              </div>
              <div class="col-auto">
                  <div class="footer-usp-item d-flex align-items-center">
                      <div class="footer-usp-icon">
                          <img src="assets/images/icons/usp2.png" alt="" width="32">
                      </div>
                      <div class="footer-usp-text">
                          <h3 class="footer-usp-title">FREE DELIVERY</h3>
                          <span>Free shipping worldwide</span>
                      </div>
                  </div>
              </div>
              <div class="col-auto">
                  <div class="footer-usp-item d-flex align-items-center">
                      <div class="footer-usp-icon">
                          <img src="assets/images/icons/usp3.png" alt="" width="32">
                      </div>
                      <div class="footer-usp-text">
                          <h3 class="footer-usp-title">FREE DELIVERY</h3>
                          <span>Free shipping worldwide</span>
                      </div>
                  </div>
              </div>
              <div class="col-auto">
                  <div class="footer-usp-item d-flex align-items-center">
                      <div class="footer-usp-icon">
                          <img src="assets/images/icons/usp4.png" alt="" width="32">
                      </div>
                      <div class="footer-usp-text">
                          <h3 class="footer-usp-title">FREE DELIVERY</h3>
                          <span>Free shipping worldwide</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-bottom d-flex align-items-center justify-content-center justify-content-md-start">
          <p class="copyright">Copyright &copy; 2019 <span class="text-uppercase"
                  style="letter-spacing: 1px;">Infinia</span>. All Rights Reserved.</p>
      </div>
  </div>
</footer>
<!-- Footer End -->