        <!-- My Checkout Container -->
        <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <!-- Shipping Details -->
                  <div class="checkout-address-container">
                      <h3 class="title">Shipping Details</h3>
                      <div class="saved-address-wrapper">
                          <div class="row">
                              <div class="col-md-6">
                                  <label class="saved-address mega-option">
                                      <span class="mega-option-control">
                                          <span class="mega-radio">
                                              <input type="radio" name="addres-radio" value="1">
                                              <span></span>
                                          </span>
                                      </span>
                                      <span class="mega-option-label w-100">
                                          <span class="mega-option-head">
                                              <span class="mega-option-title">Sayantan Chandra</span>
                                          </span>
                                          <span class="mega-option-body">
                                              <span>Magehan , 10, Park Street, Kolkata - 700 016, West Bengal , India</span> 
                                              <span>+91 896223456</span>
                                          </span>
                                      </span>
                                  </label>
                              </div>
                              <div class="col-md-6">
                                  <label class="saved-address mega-option">
                                      <span class="mega-option-control">
                                          <span class="mega-radio">
                                              <input type="radio" name="addres-radio" value="1">
                                              <span></span>
                                          </span>
                                      </span>
                                      <span class="mega-option-label w-100">
                                          <span class="mega-option-head">
                                              <span class="mega-option-title">Sayantan Chandra</span>
                                          </span>
                                          <span class="mega-option-body">
                                              <span>Magehan , 10, Park Street, Kolkata - 700 016, West Bengal , India</span> 
                                              <span>+91 896223456</span>
                                          </span>
                                      </span>
                                  </label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <a href="javascript:void(0);" class="add-address d-flex align-items-center justify-content-center">
                                      <div class="add-address-inner">
                                          <h3 class=" d-flex align-items-center"><i class="ion ion-md-add-circle-outline pr-2"></i>Add New Address</h3>  
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <form action="" class="checkout-form">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="site-input-wrapper">
                                      <input type="text" name="" class="floating-effect" id="" required>
                                      <label for="">First Name</label>
                                      <div class="focus-border"></div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="site-input-wrapper">
                                      <input type="text" name="" class="floating-effect" id="" required>
                                      <label for="">Last Name</label>
                                      <div class="focus-border"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="site-input-wrapper">
                                      <input type="email" name="" class="floating-effect" id="" required>
                                      <label for="">Email Address</label>
                                      <div class="focus-border"></div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="site-input-wrapper">
                                      <input type="text" name="" class="floating-effect" id="" required>
                                      <label for="">Mobile Number</label>
                                      <div class="focus-border"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="site-input-wrapper">
                                      <input type="email" name="" class="floating-effect" id="" required>
                                      <label for="">Flat No / House No / Locality / Street</label>
                                      <div class="focus-border"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="site-input-wrapper">
                                      <input type="email" name="" class="floating-effect" id="" required>
                                      <label for="">Street Name</label>
                                      <div class="focus-border"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="site-input-wrapper">
                                      <input type="email" name="" class="floating-effect" id="" required>
                                      <label for="">City</label>
                                      <div class="focus-border"></div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="site-input-wrapper">
                                      <input type="email" name="" class="floating-effect" id="" required>
                                      <label for="">ZIP</label>
                                      <div class="focus-border"></div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="site-input-wrapper">
                                      <input type="email" name="" class="floating-effect" id="" required>
                                      <label for="">State</label>
                                      <div class="focus-border"></div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="site-input-wrapper">
                                      <input type="email" name="" class="floating-effect" id="" required>
                                      <label for="">Country</label>
                                      <div class="focus-border"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="site-input-wrapper textarea">
                                      <textarea class="floating-effect" name="" id="" placeholder="Add a delivery note"></textarea>
                                      <div class="focus-border"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <button type="submit" class="site-btn dark text-uppercase mt-3 w-100">ADD ADDRESS</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="col-md-4">
                  <!-- Checkout Coupon -->
                  <div class="checkout-coupon-container">
                      <div class="input-group coupon-input-group">
                          <input type="text" class="form-control" placeholder="Enter Coupon Code" aria-label="Enter Coupon Code">
                          <div class="input-group-append">
                              <button class="site-btn dark text-uppercase" type="button">apply coupon</button>
                          </div>
                      </div>
                  </div>
                  <!-- Checkout Summary -->
                  <div class="checkout-summary-container">
                      <h3 class="title">Order Summary</h3>
                      <div class="order-summary-table">
                          <div class="order-summary-row d-flex align-items-center justify-content-between">
                              <label class="order-summary-title">Price <small>(<span class="product-qty">2</span> items)</small></label>
                              <h4 class="order-summary-stat"><span class="text-monospace">&#x20B9;</span>1199</h4>
                          </div>
                          <div class="order-summary-row d-flex align-items-center justify-content-between">
                              <label class="order-summary-title small">Delivery</label>
                              <h4 class="order-summary-stat small"><span class="text-monospace">&#x20B9;</span>99</h4>
                          </div>
                          <div class="order-summary-row d-flex align-items-center justify-content-between">
                              <label class="order-summary-title small">TAX</label>
                              <h4 class="order-summary-stat small"><span class="text-monospace">&#x20B9;</span>145</h4>
                          </div>
                          <div class="order-summary-row coupon d-flex align-items-center justify-content-between">
                              <div class="coupon-inner">
                                  <h5 class="coupon-inner-title d-flex align-items-center justify-content-between"><span>Coupon Discount</span><a href="javascript:void(0);"><i class="ion ion-ios-close"></i></a></h5>
                                  <div class="coupon-code-amt d-flex justify-content-between align-items-center">
                                      <span class="coupon-code text-uppercase">infi1234</span>
                                      <span class="coupon-amt text-uppercase"><span class="text-monospace">&#x20B9;</span>205</span>
                                  </div>
                              </div>
                          </div>
                          <div class="order-summary-row total d-flex align-items-center justify-content-between">
                              <label class="order-summary-title small">Amount Payable</label>
                              <h4 class="order-summary-stat small"><span class="text-monospace">&#x20B9;</span>1245</h4>
                          </div>
                          <a href="javascript:void(0);" class="site-btn text-uppercase w-100">PROCEED TO PAYMENT</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
