<section class="section men position-relative">
        <div class="container">
            <div class="section-title-wrapper">
                <h2 class="section-title text-capitalize">Men</h2>
                <hr class="title-bar">
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="javascript:void(0);" class="men-cat d-block block">
                                    <img src="assets/images/grid1.png" alt="" class="img-fluid">
                                </a>
                                <a href="javascript:void(0);" class="men-cat d-block block">
                                    <img src="assets/images/grid2.png" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6 col-md-6">
                                <a href="javascript:void(0);" class="men-cat d-block vertical-sm">
                                    <img src="assets/images/grid3.png" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-6 d-block d-md-none">
                                <a href="javascript:void(0);" class="men-cat d-block vertical">
                                    <img src="assets/images/grid4.png" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-sm-12">
                                <a href="javascript:void(0);" class="men-cat d-block horizontal">
                                    <img src="assets/images/grid5.png" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-none d-md-block">
                        <a href="javascript:void(0);" class="men-cat d-block vertical">
                            <img src="assets/images/grid4.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>


    
