<!-- Mobile Navbar Start -->
<nav class="mobile-nav d-flex flex-wrap d-md-none align-items-center justify-content-between">
  <a routerLink="men" class="mobile-nav-link selected d-flex justify-content-center">
      <i class="fi flaticon-web-page-home"></i>
  </a>
  <a routerLink="info/mywishlist" class="mobile-nav-link d-flex justify-content-center">
      <i class="fi flaticon-heart position-relative"><span class="count">0</span></i>
  </a>
  <a routerLink="info/mycart" class="mobile-nav-link position-relative d-flex justify-content-center">
      <i class="fi flaticon-online-shopping-cart position-relative"><span class="count">0</span></i>
  </a>
  <!-- Use has-notification class to show notification -->
  <a href="#loginModal" data-toggle="modal" class="mobile-nav-link has-notification position-relative d-flex justify-content-center">
      <i class="fi flaticon-user position-relative"><span class="notification"></span></i>
  </a>
</nav>
<!-- Mobile Navbar End -->
