<!-- Login Popup Start -->
<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content custom-modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="ion ion-md-close"></i>
            </button>
            <div class="modal-body custom-modal-body d-flex flex-column flex-md-row">
                <div class="custom-modal-body-left">
                    <div class="registration-section">
                        <h3>New Customer ?</h3>
                        <p>Hurry! <span>Register Now</span> for <span>Exciting Discounts</span>.</p>
                        <form action="" class="registration-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="site-input-wrapper">
                                        <input type="text" name="" class="floating-effect" id="" required>
                                        <label for="">First Name</label>
                                        <div class="focus-border"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="site-input-wrapper">
                                        <input type="text" name="" class="floating-effect" id="" required>
                                        <label for="">Last Name</label>
                                        <div class="focus-border"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="site-input-wrapper">
                                        <input type="email" name="" class="floating-effect" id="" required>
                                        <label for="">Email Address</label>
                                        <div class="focus-border"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="site-input-wrapper">
                                        <input type="text" name="" class="floating-effect" id="" required>
                                        <label for="">Mobile Number</label>
                                        <div class="focus-border"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="site-input-wrapper">
                                        <input type="password" name="" class="floating-effect" id="" required>
                                        <label for="">Password</label>
                                        <div class="focus-border"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="site-input-wrapper">
                                        <input type="password" name="" class="floating-effect" id="" required>
                                        <label for="">Confirm Password</label>
                                        <div class="focus-border"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="site-btn text-uppercase mt-2 mt-md-4 w-100">SIGN
                                        UP</button>
                                </div>
                            </div>
                        </form>
                        <span class="d-block text-center terms">By signing up you agree to our <a
                                href="jvascript:void(0);">Terms & Conditions.</a></span>
                        <span class="d-block d-md-none text-center mobile-login-link">Already have an account? <a href="javascript:void(0);">Sign In</a></span>
                    </div>
                </div>
                <div class="custom-modal-body-right">
                    <div class="login-section">
                        <h3>Already Have An Account ?</h3>
                        <p><span>Sign In</span> To Track Your Order, Use Wishlist & More.</p>
                        <form action="" class="login-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="site-input-wrapper">
                                        <input type="email" name="" class="floating-effect" id="" required>
                                        <label for="">Email Address</label>
                                        <div class="focus-border"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="site-input-wrapper">
                                        <input type="password" name="" class="floating-effect" id="" required>
                                        <label for="">Password</label>
                                        <div class="focus-border"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <label class="label--checkbox">
                                            <input type="checkbox" class="checkbox" checked>
                                            Keep Me Signed In
                                        </label>
                                        <a href="#forgotModal" class="forgot-pwd" data-toggle="modal"
                                            data-dismiss="modal" id="forgot_pwd">Forgot
                                            Password?</a>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="site-btn text-uppercase mt-4 w-100">LOGIN</button>
                                </div>
                            </div>
                        </form>
                        <p class="or">OR CONTINUE WITH</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="javascript:void(0);" class="site-btn site-social d-flex align-items-center">
                                <span><img src="assets/images/logo/fb.png" alt="" width="18"></span><span
                                    class="pl-2">Facebook</span>
                            </a>
                            <a href="javascript:void(0);" class="site-btn site-social d-flex align-items-center">
                                <span><img src="assets/images/logo/google.png" alt="" width="18"></span><span
                                    class="pl-2">Google</span>
                            </a>
                        </div>
                        <span class="d-block d-md-none text-center mobile-login-link">New here? <a href="javascript:void(0);">Sign Up</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Popup End -->
<!-- Forgot Password Start -->
<div class="modal" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="forgotModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-dialog" role="document">
        <div class="modal-content custom-modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="ion ion-md-close"></i>
            </button>
            <div class="modal-body custom-modal-body">
                <div class="forgot-pwd-section">
                    <h3>Forgot Password ?</h3>
                    <p>We will email you a link to reset it.</p>
                    <form action="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="site-input-wrapper">
                                    <input type="email" name="" class="floating-effect" id="" required>
                                    <label for="">Email Address</label>
                                    <div class="focus-border"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="site-btn text-uppercase w-100">SEND</button>
                            </div>
                        </div>
                    </form>
                    <p class="forgot-modal-text">Just remembered ? <a href="#loginModal" data-toggle="modal"
                            data-dismiss="modal">Log in</a> Instead</p>
                    <p class="forgot-modal-text">Don’t have an account ? Please <a href="#loginModal"
                            data-toggle="modal" data-dismiss="modal">Sign up</a> for exciting offers</p>
                </div>
            </div>
        </div>
    </div>
</div>