<section class="section instagram position-relative">
  <div class="section-title-wrapper">
      <h2 class="section-title text-capitalize">FOLLOW US</h2>
      <span>@infinia_clothing</span>
  </div>
  <div class="section-content">
      <div class="insta-pic-wrapper d-flex">
          <img src="assets/images/insta1.jpg" alt="">
          <img src="assets/images/insta2.jpg" alt="">
          <img src="assets/images/insta3.jpg" alt="">
          <img src="assets/images/insta4.jpg" alt="">
          <img src="assets/images/insta5.jpg" alt="">
          <img src="assets/images/insta6.jpg" alt="">
      </div>
  </div>
</section>
