<div class="myaccount-container">
  <!-- My Order History -->
  <div class="myorder-info-wrapper">
      <div class="myaccount-title-wrapper d-flex align-items-center justify-content-between">
          <h2 class="myaccount-title">My Cart</h2>
      </div>
      <div class="myorder-content-wrapper">
          <div class="myorder-content cart">
              <div class="myorder-content-body">
                  <div class="myorder-info d-flex">
                      <div class="myorder-info-img">
                          <img src="assets/images/bstprdct1.jpg" alt="">
                      </div>
                      <div class="myorder-info-details">
                          <h2 class="myorder-title">Men's half sleeve sweatshirt</h2>
                          <ul class="myorder-info-nav d-flex align-items-center">
                              <li>
                                  <div class="myorder-color d-flex align-items-center">
                                      <span style="background-color: darkorange" class="color"></span><span class="color-name">Orange</span>
                                  </div>
                              </li>
                              <li>
                                  <div class="myorder-text">
                                      Qty: <span>2</span>
                                  </div>
                              </li>
                              <li>
                                  <div class="myorder-text">
                                      Size: <span>M</span>
                                  </div>
                              </li>
                          </ul>
                          <h3 class="myorder-price">Rs. <span class="sale">1110</span> <del>Rs. <span class="mrp">1999</span></del> <span class="save">Save Rs. <span>889</span></span></h3>
                      </div>
                  </div>
              </div>
              <div class="myorder-content-footer d-flex align-items-center justify-content-between justify-content-md-end">
                  <a href="javascript:void(0);" class="myorder-move">Move To Wishlist</a>
                  <a href="javascript:void(0);" class="myorder-remove">Remove</a>
              </div>
          </div>
          <div class="myorder-content cart">
              <div class="myorder-content-body">
                  <div class="myorder-info d-flex">
                      <div class="myorder-info-img">
                          <img src="assets/images/bstprdct1.jpg" alt="">
                      </div>
                      <div class="myorder-info-details">
                          <h2 class="myorder-title">Men's half sleeve sweatshirt</h2>
                          <ul class="myorder-info-nav d-flex align-items-center">
                              <li>
                                  <div class="myorder-color d-flex align-items-center">
                                      <span style="background-color: darkorange" class="color"></span><span class="color-name">Orange</span>
                                  </div>
                              </li>
                              <li>
                                  <div class="myorder-text">
                                      Qty: <span>2</span>
                                  </div>
                              </li>
                              <li>
                                  <div class="myorder-text">
                                      Size: <span>M</span>
                                  </div>
                              </li>
                          </ul>
                          <h3 class="myorder-price">Rs. <span class="sale">1110</span> <del>Rs. <span class="mrp">1999</span></del> <span class="save">Save Rs. 889</span></h3>
                          
                      </div>
                  </div>
              </div>
              <div class="myorder-content-footer d-flex align-items-center justify-content-end">
                  <a href="javascript:void(0);" class="myorder-move">Move To Wishlist</a>
                  <a href="javascript:void(0);" class="myorder-remove">Remove</a>
              </div>
          </div>
      </div>
      <div class="mywishlist-count d-flex align-items-center justify-content-between">
          <p>You have <span>14</span> products in your wishlist</p>
          <a href="mywishlist.html" class="show-wishlist text-uppercase">Show</a>
      </div>
      <div class="row">
          <div class="col-auto ml-auto">
              <a href="checkout.html" class="site-btn dark text-uppercase mb-3 mb-md-0">Continue to checkout</a>
          </div>
      </div>
  </div>
  
</div>
