<div class="myaccount-container">
  <!-- My Order History -->
  <div class="myorder-info-wrapper">
      <div class="myaccount-title-wrapper d-flex align-items-center justify-content-between">
          <h2 class="myaccount-title">My Wishlist</h2>
      </div>
      <div class="myorder-content-wrapper">
          <div class="row">
              <div class="col-md-6">
                  <div class="myorder-content wishlist-content">
                      <div class="myorder-content-body">
                          <div class="myorder-info wishlist-info d-flex">
                              <div class="myorder-info-img">
                                  <img src="assets/images/bstprdct1.jpg" alt="">
                              </div>
                              <div class="myorder-info-details">
                                  <a class="myorder-title text-truncate" href="javascript:void(0);">Men's half sleeve sweatshirt</a>
                                  <ul class="myorder-info-nav d-flex align-items-center">
                                      <li>
                                          <div class="myorder-color d-flex align-items-center">
                                              <span style="background-color: darkorange" class="color"></span><span class="color-name">Orange</span>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="myorder-text">
                                              Qty: <span>2</span>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="myorder-text">
                                              Size: <span>M</span>
                                          </div>
                                      </li>
                                  </ul>
                                  <h3 class="myorder-price">Rs. <span class="sale">1110</span> <del>Rs. <span class="mrp">1999</span></del> <span class="save">Save Rs. >889</span></h3>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="myorder-content-footer wishlist-footer d-flex align-items-center justify-content-between">
                          <div>
                              <a href="javascript:void(0);" class="remove-product">REMOVE</a>
                          </div>
                          <div>
                              <a href="javascript:void(0);" class="add-product">ADD TO BAG</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="myorder-content wishlist-content">
                      <div class="myorder-content-body">
                          <div class="myorder-info wishlist-info d-flex">
                              <div class="myorder-info-img">
                                  <img src="assets/images/bstprdct1.jpg" alt="">
                              </div>
                              <div class="myorder-info-details">
                                  <a class="myorder-title text-truncate" href="javascript:void(0);">Men's half sleeve sweatshirt</a>
                                  <ul class="myorder-info-nav d-flex align-items-center">
                                      <li>
                                          <div class="myorder-color d-flex align-items-center">
                                              <span style="background-color: darkorange" class="color"></span><span class="color-name">Orange</span>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="myorder-text">
                                              Qty: <span>2</span>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="myorder-text">
                                              Size: <span>M</span>
                                          </div>
                                      </li>
                                  </ul>
                                  <h3 class="myorder-price">Rs. <span class="sale">1110</span> <del>Rs. <span class="mrp">1999</span></del> <span class="save">Save Rs. 889</span></h3>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="myorder-content-footer wishlist-footer d-flex align-items-center justify-content-between">
                          <div>
                              <a href="javascript:void(0);" class="remove-product">REMOVE</a>
                          </div>
                          <div>
                              <a href="javascript:void(0);" class="add-product">ADD TO BAG</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="myorder-content wishlist-content">
                      <div class="myorder-content-body">
                          <div class="myorder-info wishlist-info d-flex">
                              <div class="myorder-info-img">
                                  <img src="assets/images/bstprdct1.jpg" alt="">
                              </div>
                              <div class="myorder-info-details">
                                  <a class="myorder-title text-truncate" href="javascript:void(0);">Men's half sleeve sweatshirt</a>
                                  <ul class="myorder-info-nav d-flex align-items-center">
                                      <li>
                                          <div class="myorder-color d-flex align-items-center">
                                              <span style="background-color: darkorange" class="color"></span><span class="color-name">Orange</span>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="myorder-text">
                                              Qty: <span>2</span>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="myorder-text">
                                              Size: <span>M</span>
                                          </div>
                                      </li>
                                  </ul>
                                  <h3 class="myorder-price">Rs. <span class="sale">1110</span> <del>Rs. <span class="mrp">1999</span></del> <span class="save">Save Rs. 889</span></h3>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="myorder-content-footer wishlist-footer d-flex align-items-center justify-content-between">
                          <div>
                              <a href="javascript:void(0);" class="remove-product">REMOVE</a>
                          </div>
                          <div>
                              <a href="javascript:void(0);" class="add-product">ADD TO BAG</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
