<div class="myaccount-container">
  <!-- My Address -->
  <div class="myaddress-info-wrapper">
      <div class="myaccount-title-wrapper d-flex align-items-center justify-content-between">
          <h2 class="myaccount-title">My Addresses</h2>
      </div>
      <div class="row">
          <div class="col-md-6">
              <a href="javascript:void(0);" class="add-address d-flex align-items-center justify-content-center">
                  <div class="add-address-inner">
                      <h3 class=" d-flex align-items-center"><i class="ion ion-md-add-circle-outline pr-2"></i>Add New Address</h3>  
                  </div>
              </a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="myaddress-wrapper">
                  <h3 class="myaddress-title">Sayantan Chandra</h3>
                  <div class="myaddress-content">
                      <p class="address">Jason Magehan , 10, Park Street, Kolkata - 700 016, West Bengal , India</p>
                      <p class="contact">+91 822456789</p>
                  </div>
                  <div class="myaddress-action d-flex align-items-center justify-content-end">
                      <a href="javascript:void(0);" class="myaddress-edit text-uppercase">EDIT</a>
                      <a href="javascript:void(0);" class="myaddress-remove text-uppercase">REMOVE</a>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="myaddress-wrapper">
                  <h3 class="myaddress-title">Sayantan Chandra</h3>
                  <div class="myaddress-content">
                      <p class="address">Jason Magehan , 10, Park Street, Kolkata - 700 016, West Bengal , India</p>
                      <p class="contact">+91 822456789</p>
                  </div>
                  <div class="myaddress-action d-flex align-items-center justify-content-end">
                      <a href="javascript:void(0);" class="myaddress-edit text-uppercase">EDIT</a>
                      <a href="javascript:void(0);" class="myaddress-remove text-uppercase">REMOVE</a>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="myaddress-wrapper">
                  <h3 class="myaddress-title">Sayantan Chandra</h3>
                  <div class="myaddress-content">
                      <p class="address">Jason Magehan , 10, Park Street, Kolkata - 700 016, West Bengal , India</p>
                      <p class="contact">+91 822456789</p>
                  </div>
                  <div class="myaddress-action d-flex align-items-center justify-content-end">
                      <a href="javascript:void(0);" class="myaddress-edit text-uppercase">EDIT</a>
                      <a href="javascript:void(0);" class="myaddress-remove text-uppercase">REMOVE</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>

