<section class="product-container">
  <div class="container">
      <div class="product-container-inner d-flex flex-column flex-md-row">
          <div class="product-container-left">
              <div class="product-slider-thumb-wrapper d-flex flex-column flex-md-row justify-content-between">
                  <div class="product-slider-thumb order-1 order-md-0">
                      <div class="product-thumb">
                          <img src="assets/images/product-thumb/pd5.jpg" alt="">
                      </div>
                      <div class="product-thumb">
                          <img src="assets/images/product-thumb/pd5.jpg" alt="">
                      </div>
                      <div class="product-thumb">
                          <img src="assets/images/product-thumb/pd5.jpg" alt="">
                      </div>
                      <div class="product-thumb">
                          <img src="assets/images/product-thumb/pd5.jpg" alt="">
                      </div>
                  </div>
                  <div class="product-slider-wrapper-outer order-0 order-md-1">
                      <div class="product-wishlist-wrapper selected d-flex align-items-center justify-content-center"></div>
                      <div class="product-slider-wrapper">
                          <div class="product-slides">
                              <img src="assets/images/product/pd1.jpg" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="product-container-right">
              <a class="product-title" href="javascript:void(0);">Half Sleeve Colorblock Men's Sweatshirt</a>
              <div class="product-price-wrapper">
                  <span class="sale-price">Rs. 3900</span>
                  <del class="mrp">Rs. 4600</del>
                  <span class="discount"> 60% off</span>
              </div>
              <div class="product-rating-wrapper d-flex align-items-center">
                  <span class="product-star d-inline-flex align-items-center">
                      <span>3.5</span><i class="ion ion-md-star"></i>
                  </span>
                  <a class="product-rating" href="javscript:void(0);">125 ratings and 19 reviews</a>
              </div>
              <h3 class="product-details">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni rerum dolor eveniet enim
                  molestias nesciunt sint similique deleniti exercitationem pariatur.
              </h3>
              <div class="product-color-wrapper d-flex align-items-center">
                  <label class="product-label">Select Color</label>
                  <div class="product-color-selector d-flex align-items-center">
                      <a href="javascript:void(0);" class="d-flex align-items-center justify-content-center">
                          <span class="product-color" style="background-color:brown;"></span>
                      </a>
                      <a href="javascript:void(0);" class="d-flex align-items-center justify-content-center">
                          <span class="product-color" style="background-color:cornflowerblue;"></span>
                      </a>
                      <a href="javascript:void(0);" class="d-flex align-items-center justify-content-center">
                          <span class="product-color" style="background-color:crimson;"></span>
                      </a>
                      <a href="javascript:void(0);" class="d-flex align-items-center justify-content-center">
                          <span class="product-color" style="background-color:darkorange;"></span>
                      </a>
                  </div>
              </div>
              <div class="product-size-wrapper d-flex align-items-center">
                  <label class="product-label">Select Size</label>
                  <div class="product-size-selector d-flex align-items-center">
                      <a href="javascript:void(0);" class="product-size">S</a>
                      <a href="javascript:void(0);" class="product-size">M</a>
                      <a href="javascript:void(0);" class="product-size">L</a>
                      <a href="javascript:void(0);" class="product-size">XL</a>
                  </div>
              </div>
              <div class="product-qty-wrapper d-flex align-items-center">
                  <label class="product-label">Quantity</label>
                  <input type="number" name="" id="" class="product-qty-input" min="1" max="5" value="1">
              </div>
              <div class="product-btn-wrapper">
                  <div class="row">
                      <div class="col-6 col-md-6">
                          <a href="javascript:void(0);"
                              class="site-btn w-100 text-uppercase d-flex align-items-center justify-content-center"><i
                                  class="ion ion-ios-cart"></i><span>ADD TO BAG</span></a>
                      </div>
                      <div class="col-6 col-md-6">
                          <a href="javascript:void(0);"
                              class="site-btn dark w-100 text-uppercase d-flex align-items-center justify-content-center"><i
                                  class="ion ion-ios-flash"></i><span>BUY NOW</span></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <router-outlet></router-outlet>
</section>
<!-- Product Description -->
<section class="product-description">
  <div class="container">
      <div class="product-description-inner d-flex flex-column flex-md-row">
          <div class="product-description-left">
              <h3 class="product-description-title">Specifications</h3>
              <p class="product-description-text">Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman’s wardrobe.</p>
              <div class="product-info-table">
                  <div class="product-info-row d-flex align-items-center justify-content-between">
                      <span class="product-info-title">Handle height (ground to handle)</span>
                      <span class="product-info-stat">37-45″</span>
                  </div>
                  <div class="product-info-row d-flex align-items-center justify-content-between">
                      <span class="product-info-title">Width</span>
                      <span class="product-info-stat">24″</span>
                  </div>
                  <div class="product-info-row d-flex align-items-center justify-content-between">
                      <span class="product-info-title">Wheels</span>
                      <span class="product-info-stat">12″ air / wide track slick tread</span>
                  </div>
                  <div class="product-info-row d-flex align-items-center justify-content-between">
                      <span class="product-info-title">Seat back height</span>
                      <span class="product-info-stat">21.5″</span>
                  </div>
                  <div class="product-info-row d-flex align-items-center justify-content-between">
                      <span class="product-info-title">Head room (inside canopy)</span>
                      <span class="product-info-stat">25″</span>
                  </div>
                  <div class="product-info-row d-flex align-items-center justify-content-between">
                      <span class="product-info-title">Weight Capacity</span>
                      <span class="product-info-stat">60 LBS</span>
                  </div>
                  <div class="product-info-row d-flex align-items-center justify-content-between">
                      <span class="product-info-title">Weight (w/o wheels)</span>
                      <span class="product-info-stat">20 LBS</span>
                  </div>
              </div>
          </div>
          <div class="product-description-right">
              <h3 class="product-description-title">Reviews</h3>
              <div class="user-review-wrapper">
                  <div class="user-review">
                      <div class="user-review-header d-flex justify-content-between">
                          <div class="user-details">
                              <h4 class="user-name">Naidu Venkata Rao</h4>
                              <span class="review-date">8 Jan, 2019</span>
                          </div>
                          <div class="user-rating">
                              <div class="c-rating c-rating--regular" data-rating-value="4">
                                  <button>1</button>
                                  <button>2</button>
                                  <button>3</button>
                                  <button>4</button>
                                  <button>5</button>
                              </div>
                          </div>
                      </div>
                      <p class="user-review-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore fuga tenetur quae molestiae distinctio rerum labore.</p>
                  </div>
                  <div class="user-review">
                      <div class="user-review-header d-flex justify-content-between">
                          <div class="user-details">
                              <h4 class="user-name">Naidu Venkata Rao</h4>
                              <span class="review-date">8 Jan, 2019</span>
                          </div>
                          <div class="user-rating">
                              <div class="c-rating c-rating--regular" data-rating-value="4">
                                  <button>1</button>
                                  <button>2</button>
                                  <button>3</button>
                                  <button>4</button>
                                  <button>5</button>
                              </div>
                          </div>
                      </div>
                      <p class="user-review-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore fuga tenetur quae molestiae distinctio rerum labore.</p>
                  </div>
                  <div class="user-review">
                      <div class="user-review-header d-flex justify-content-between">
                          <div class="user-details">
                              <h4 class="user-name">Naidu Venkata Rao</h4>
                              <span class="review-date">8 Jan, 2019</span>
                          </div>
                          <div class="user-rating">
                              <div class="c-rating c-rating--regular" data-rating-value="4">
                                  <button>1</button>
                                  <button>2</button>
                                  <button>3</button>
                                  <button>4</button>
                                  <button>5</button>
                              </div>
                          </div>
                      </div>
                      <p class="user-review-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore fuga tenetur quae molestiae distinctio rerum labore.</p>
                  </div>
                  
              </div>
              <div class="user-comment-wrapper">
                  <h3 class="product-description-title">Add your comment</h3>
                  <div class="user-rating-wrapper justify-content-end d-flex flex-row-reverse">
                      <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                      <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                      <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                      <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                      <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="site-input-wrapper textarea">
                              <textarea name="" id="" placeholder="Add a comment (optional)"></textarea>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <button type="submit" class="site-btn dark mt-2">POST YOUR COMMENT</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Related Products -->
<section class="related-products-wrapper">
  <div class="container">
      <div class="related-products-wrapper-inner">
          <div class="section-title-wrapper">
              <h2 class="section-title text-capitalize">Related Products</h2>
              <hr class="title-bar">
          </div>
          <div class="related-products-container d-flex flex-wrap">
              <div class="listing-product">
                  <div class="listing-product-image">
                      <img src="assets/images/bstprdct1.jpg" alt="">
                      <div class="listing-product-wishlist d-flex align-items-center justify-content-center">

                      </div>
                  </div>
                  <div class="listing-product-details">
                      <a href="javascript:void(0);" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                      <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                  </div>
              </div>
              <div class="listing-product">
                  <div class="listing-product-image">
                      <img src="assets/images/bstprdct1.jpg" alt="">
                      <div class="listing-product-wishlist d-flex align-items-center justify-content-center">

                      </div>
                  </div>
                  <div class="listing-product-details">
                      <a href="javascript:void(0);" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                      <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                  </div>
              </div>
              <div class="listing-product">
                  <div class="listing-product-image">
                      <img src="assets/images/bstprdct1.jpg" alt="">
                      <div class="listing-product-wishlist d-flex align-items-center justify-content-center">

                      </div>
                  </div>
                  <div class="listing-product-details">
                      <a href="javascript:void(0);" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                      <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                  </div>
              </div>
              <div class="listing-product">
                  <div class="listing-product-image">
                      <img src="assets/images/bstprdct1.jpg" alt="">
                      <div class="listing-product-wishlist d-flex align-items-center justify-content-center">

                      </div>
                  </div>
                  <div class="listing-product-details">
                      <a href="javascript:void(0);" class="listing-product-title text-truncate">Men's sport quick dry T-shirt grey</a>
                      <h5 class="listing-product-price">Rs. <span class="sale-price">3900</span><del>Rs. <span class="mrp">4900</span></del></h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <router-outlet></router-outlet>
  
</section>
