<!-- New Ariival Start -->
<section class="section new-arrival position-relative">
  <div class="container">
      <div class="section-title-wrapper">
          <h2 class="section-title text-capitalize">New Arrivals</h2>
          <hr class="title-bar">
      </div>
      <div class="section-content">
          <div class="row">
              <div class="col-6 col-md-6">
                  <a class="new-arrival-block d-block" href="javascript:void(0);">
                      <img src="assets/images/namen.png" alt="" class="img-fluid">
                  </a>
              </div>
              <div class="col-6 col-md-6">
                  <a class="new-arrival-block d-block" href="javascript:void(0);">
                      <img src="assets/images/nawomen.png" alt="" class="img-fluid">
                  </a>
              </div>
          </div>
      </div>
  </div>

</section>