<section class="section best-seller position-relative">
  <div class="container">
      <div class="section-title-wrapper">
          <h2 class="section-title text-capitalize">Best Sellers</h2>
          <hr class="title-bar">
      </div>
      <div class="section-content">
          <div class="best-seller-slider" id="best_seller">
              <div class="slider-item position-relative">
                  <div class="slider-img position-relative">
                      <img src="assets/images/bstprdct1.jpg" alt="">
                      <a class="slider-add-to-bag text-uppercase" href="javascript:void(0);">ADD TO BAG</a>
                      <span class="product-tag">Trending</span>
                  </div>
                  <div
                      class="slider-action position-relative d-flex align-items-center justify-content-between">
                      <div class="sldier-action-left d-flex align-items-center">
                          <a href="javascript:void(0);" class="product-size selected text-uppercase">S</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">M</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">L</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">XL</a>
                      </div>
                      <div class="sldier-action-right d-flex align-items-center">
                          <a href="#quickViewModal" data-toggle="modal" data-target="#quickViewModal"
                              class="slider-action-btn"><img src="assets/images/icons/quickview.svg" alt=""
                                  width="17"></a>
                          <a href="javascript:void(0);" class="slider-action-btn favourite selected"></a>
                      </div>
                  </div>
                  <div class="slider-details">
                      <a class="slider-product-title text-truncate" href="javascript:void(0);"
                          title="Men's half sleeve sweatshirt">Men's half sleeve sweatshirt</a>
                      <div class="d-flex align-items-center justify-content-between">
                          <p class="slider-product-price">Rs. <span>3999</span></p>
                          <div class="c-rating c-rating--regular" data-rating-value="4">
                            <button>1</button>
                            <button>2</button>
                            <button>3</button>
                            <button>4</button>
                            <button>5</button>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="slider-item position-relative">
                  <div class="slider-img position-relative">
                      <img src="assets/images/bstprdct1.jpg" alt="">
                      <a class="slider-add-to-bag text-uppercase" href="javascript:void(0);">ADD TO BAG</a>
                  </div>
                  <div
                      class="slider-action position-relative d-flex align-items-center justify-content-between">
                      <div class="sldier-action-left d-flex align-items-center">
                          <a href="javascript:void(0);" class="product-size text-uppercase">S</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">M</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">L</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">XL</a>
                      </div>
                      <div class="sldier-action-right d-flex align-items-center">
                          <a href="javascript:void(0);" class="slider-action-btn"><img
                                  src="assets/images/icons/quickview.svg" alt="" width="17"></a>
                          <a href="javascript:void(0);" class="slider-action-btn favourite"></a>
                      </div>
                  </div>
                  <div class="slider-details">
                      <a class="slider-product-title text-truncate" href="javascript:void(0);"
                          title="Men's half sleeve sweatshirt">Men's half sleeve sweatshirt</a>
                      <div class="d-flex align-items-center justify-content-between">
                          <p class="slider-product-price">Rs. <span>3999</span></p>
                          <div class="c-rating c-rating--regular" data-rating-value="3.25">
                              <button>1</button>
                              <button>2</button>
                              <button>3</button>
                              <button>4</button>
                              <button>5</button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="slider-item position-relative">
                  <div class="slider-img position-relative">
                      <img src="assets/images/bstprdct1.jpg" alt="">
                      <a class="slider-add-to-bag text-uppercase" href="javascript:void(0);">ADD TO BAG</a>
                  </div>
                  <div
                      class="slider-action position-relative d-flex align-items-center justify-content-between">
                      <div class="sldier-action-left d-flex align-items-center">
                          <a href="javascript:void(0);" class="product-size text-uppercase">S</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">M</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">L</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">XL</a>
                      </div>
                      <div class="sldier-action-right d-flex align-items-center">
                          <a href="#quickViewModal" data-toggle="modal" data-target="#quickViewModal"
                              class="slider-action-btn"><img src="assets/images/icons/quickview.svg" alt=""
                                  width="17"></a>
                          <a href="javascript:void(0);" class="slider-action-btn favourite"></a>
                      </div>
                  </div>
                  <div class="slider-details">
                      <a class="slider-product-title text-truncate" href="javascript:void(0);"
                          title="Men's half sleeve sweatshirt">Men's half sleeve sweatshirt</a>
                      <p class="slider-product-price">Rs. <span>3999</span></p>
                  </div>
              </div>
              <div class="slider-item position-relative">
                  <div class="slider-img position-relative">
                      <img src="assets/images/bstprdct1.jpg" alt="">
                      <a class="slider-add-to-bag text-uppercase" href="javascript:void(0);">ADD TO BAG</a>
                  </div>
                  <div
                      class="slider-action position-relative d-flex align-items-center justify-content-between">
                      <div class="sldier-action-left d-flex align-items-center">
                          <a href="javascript:void(0);" class="product-size text-uppercase">S</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">M</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">L</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">XL</a>
                      </div>
                      <div class="sldier-action-right d-flex align-items-center">
                          <a href="javascript:void(0);" class="slider-action-btn"><img
                                  src="assets/images/icons/quickview.svg" alt="" width="17"></a>
                          <a href="javascript:void(0);" class="slider-action-btn favourite selected"></a>
                      </div>
                  </div>
                  <div class="slider-details">
                      <a class="slider-product-title text-truncate" href="javascript:void(0);"
                          title="Men's half sleeve sweatshirt">Men's half sleeve sweatshirt</a>
                      <p class="slider-product-price">Rs. <span>3999</span></p>
                  </div>
              </div>
              <div class="slider-item position-relative">
                  <div class="slider-img position-relative">
                      <img src="assets/images/bstprdct1.jpg" alt="">
                      <a class="slider-add-to-bag text-uppercase" href="javascript:void(0);">ADD TO BAG</a>
                  </div>
                  <div
                      class="slider-action position-relative d-flex align-items-center justify-content-between">
                      <div class="sldier-action-left d-flex align-items-center">
                          <a href="javascript:void(0);" class="product-size text-uppercase">S</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">M</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">L</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">XL</a>
                      </div>
                      <div class="sldier-action-right d-flex align-items-center">
                          <a href="javascript:void(0);" class="slider-action-btn"><img
                                  src="assets/images/icons/quickview.svg" alt="" width="17"></a>
                          <a href="javascript:void(0);" class="slider-action-btn favourite selected"></a>
                      </div>
                  </div>
                  <div class="slider-details">
                      <a class="slider-product-title text-truncate" href="javascript:void(0);"
                          title="Men's half sleeve sweatshirt">Men's half sleeve sweatshirt</a>
                      <p class="slider-product-price">Rs. <span>3999</span></p>
                  </div>
              </div>
              <div class="slider-item position-relative">
                  <div class="slider-img position-relative">
                      <img src="assets/images/bstprdct1.jpg" alt="">
                      <a class="slider-add-to-bag text-uppercase" href="javascript:void(0);">ADD TO BAG</a>
                  </div>
                  <div
                      class="slider-action position-relative d-flex align-items-center justify-content-between">
                      <div class="sldier-action-left d-flex align-items-center">
                          <a href="javascript:void(0);" class="product-size text-uppercase">S</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">M</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">L</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">XL</a>
                      </div>
                      <div class="sldier-action-right d-flex align-items-center">
                          <a href="javascript:void(0);" class="slider-action-btn"><img
                                  src="assets/images/icons/quickview.svg" alt="" width="17"></a>
                          <a href="javascript:void(0);" class="slider-action-btn favourite selected"></a>
                      </div>
                  </div>
                  <div class="slider-details">
                      <a class="slider-product-title text-truncate" href="javascript:void(0);"
                          title="Men's half sleeve sweatshirt">Men's half sleeve sweatshirt</a>
                      <p class="slider-product-price">Rs. <span>3999</span></p>
                  </div>
              </div>
              <div class="slider-item position-relative">
                  <div class="slider-img position-relative">
                      <img src="assets/images/bstprdct1.jpg" alt="">
                      <a class="slider-add-to-bag text-uppercase" href="javascript:void(0);">ADD TO BAG</a>
                  </div>
                  <div
                      class="slider-action position-relative d-flex align-items-center justify-content-between">
                      <div class="sldier-action-left d-flex align-items-center">
                          <a href="javascript:void(0);" class="product-size text-uppercase">S</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">M</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">L</a>
                          <a href="javascript:void(0);" class="product-size text-uppercase">XL</a>
                      </div>
                      <div class="sldier-action-right d-flex align-items-center">
                          <a href="javascript:void(0);" class="slider-action-btn"><img
                                  src="assets/images/icons/quickview.svg" alt="" width="17"></a>
                          <a href="javascript:void(0);" class="slider-action-btn favourite selected"></a>
                      </div>
                  </div>
                  <div class="slider-details">
                      <a class="slider-product-title text-truncate" href="javascript:void(0);"
                          title="Men's half sleeve sweatshirt">Men's half sleeve sweatshirt</a>
                      <p class="slider-product-price">Rs. <span>3999</span></p>


                     
                  </div>
              </div>
          </div>
      </div>
  </div>
       
