
<section class="section women position-relative">
  <div class="container">
      <div class="section-title-wrapper">
          <h2 class="section-title text-capitalize">Latest Women's Collection</h2>
          <hr class="title-bar">
      </div>
      <div class="section-content">
          <div class="row">
              <div class="col-md-6">
                  <a href="javascript:void(0);" class="women-cat d-block women-cat-hor">
                      <img src="../../assets/images/grid9.png" alt="" class="img-fluid">
                  </a>
              </div>
              <div class="col-md-6">
                  <a href="javascript:void(0);" class="women-cat d-block women-cat-hor">
                      <img src="../../assets/images/grid10.png" alt="" class="img-fluid">
                  </a>
              </div>
          </div>
          <div class="row">
              <div class="col-6 col-md-4">
                  <a href="javascript:void(0);" class="women-cat d-block">
                      <img src="../../assets/images/grid8.png" alt="" class="img-fluid">
                  </a>
              </div>
              <div class="col-6 col-md-4">
                  <a href="javascript:void(0);" class="women-cat d-block">
                      <img src="../../assets/images/grid7.png" alt="" class="img-fluid">
                  </a>
              </div>
              <div class="col-12 col-md-4">
                  <a href="javascript:void(0);" class="women-cat d-block">
                      <img src="../../assets/images/grid6.png" alt="" class="img-fluid">
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>