<div class="myaccount-container">
  <!-- My Order History -->
  <div class="myorder-info-wrapper">
      <div class="myaccount-title-wrapper d-flex align-items-center justify-content-between">
          <h2 class="myaccount-title">Order History</h2>
      </div>
      <div class="myorder-content-wrapper">
          <div class="myorder-content">
              <div class="myorder-content-header d-flex align-items-center justify-content-between">
                  <h3 class="order-id">Order ID: #<span>1101266-5657347</span></h3>
                  <a href="javascript:void(0);" class="">Cancel</a>
              </div>
              <div class="myorder-content-body">
                  <div class="myorder-info d-flex">
                      <div class="myorder-info-img">
                          <img src="assets/images/bstprdct1.jpg" alt="">
                      </div>
                      <div class="myorder-info-details">
                          <h2 class="myorder-title">Men's half sleeve sweatshirt</h2>
                          <ul class="myorder-info-nav d-flex align-items-center">
                              <li>
                                  <div class="myorder-color d-flex align-items-center">
                                      <span style="background-color: darkorange" class="color"></span><span class="color-name">Orange</span>
                                  </div>
                              </li>
                              <li>
                                  <div class="myorder-text">
                                      Qty: <span>2</span>
                                  </div>
                              </li>
                              <li>
                                  <div class="myorder-text">
                                      Size: <span>M</span>
                                  </div>
                              </li>
                          </ul>
                          <h3 class="myorder-price">Rs. <span class="sale">1110</span> <del>Rs. <span class="mrp">1999</span></del> <span class="save">Save Rs. 889 </span></h3>
                          <div class="myorder-status-wrapper position-relative">
                              <ul class="myorder-status position-relative">
                                  <li class="text-center position-relative active d-inline-block align-text-top">
                                      <span class="position-relative">
                                          Ordered<br>
                                          <span class="myorder-date">Wed, 5th Feb</span>
                                      </span>
                                  </li>
                                  <li class="text-center position-relative d-inline-block align-text-top">
                                      <span class="position-relative">
                                          Shipped
                                      </span>
                                  </li>
                                  <li class="text-center position-relative d-inline-block align-text-top">
                                      <span class="position-relative">
                                          Out For Delivery
                                      </span>
                                  </li>
                                  <li class="text-center position-relative d-inline-block align-text-top">
                                      <span class="position-relative">
                                          Delivered
                                      </span>
                                  </li>
                              </ul>
                              <div class="mobile-myorder-status-wrapper d-flex d-md-none align-items-end">
                                  <span class="status">Ordered</span>
                                  <span class="date">Wed, 14th Feb</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="myorder-content">
              <div class="myorder-content-header d-flex align-items-center justify-content-between">
                  <h3 class="order-id">Order ID: #<span>1101266-5657347</span></h3>
                  <a href="javascript:void(0);" class="">Cancel</a>
              </div>
              <div class="myorder-content-body">
                  <div class="myorder-info d-flex">
                      <div class="myorder-info-img">
                          <img src="assets/images/bstprdct1.jpg" alt="">
                      </div>
                      <div class="myorder-info-details">
                          <h2 class="myorder-title">Men's half sleeve sweatshirt</h2>
                          <ul class="myorder-info-nav d-flex align-items-center">
                              <li>
                                  <div class="myorder-color d-flex align-items-center">
                                      <span style="background-color: darkorange" class="color"></span><span class="color-name">Orange</span>
                                  </div>
                              </li>
                              <li>
                                  <div class="myorder-text">
                                      Qty: <span>2</span>
                                  </div>
                              </li>
                              <li>
                                  <div class="myorder-text">
                                      Size: <span>M</span>
                                  </div>
                              </li>
                          </ul>
                          <h3 class="myorder-price">Rs. <span class="sale">1110</span> <del>Rs. <span class="mrp">1999</span></del> <span class="save">Save Rs. 889</span></h3>
                          <div class="myorder-status-wrapper position-relative">
                              <ul class="myorder-status position-relative cancelled">
                                  <li class="text-center position-relative active d-inline-block align-text-top">
                                      <span class="position-relative">
                                          Ordered<br>
                                          <span class="myorder-date">Wed, 5th Feb</span>
                                      </span>
                                  </li>
                                  <li class="text-center position-relative active d-inline-block align-text-top">
                                      <span class="position-relative">
                                         Shipped<br>
                                      </span>
                                  </li>
                                  <li class="text-center position-relative active d-inline-block align-text-top">
                                      <span class="position-relative">
                                          Out For Delivery
                                      </span>
                                  </li>
                                  <li class="text-center position-relative active d-inline-block align-text-top">
                                      <span class="position-relative">
                                              Order Cancelled<br>
                                              <span class="myorder-date">Fri, 10th Feb</span>
                                      </span>
                                  </li>
                              </ul>
                              <div class="mobile-myorder-status-wrapper d-md-none cancel d-flex align-items-end">
                                  <span class="status">Cancelled</span>
                                  <span class="date">Wed, 14th Feb</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    
  </div>
</div>

